<span style='color: #900'>8,960 KB</span>    <span style='color: #090'>334.6400 ms</span><br /><br />
<b>Notice</b>:  Undefined index:  in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\cpdf_adapter.cls.php</b> on line <b>724</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-BoldItalic in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Italic in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Bold in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
<br />
<b>Notice</b>:  Undefined index: C:/wamp/www/multiuser/user/ecom/include/dompdf/lib/fonts/Times-Roman in <b>C:\wamp\www\multiuser\user\ecom\include\dompdf\include\text_renderer.cls.php</b> on line <b>121</b><br />
